/todoListApp
/stopWatchApp
/wordCountApp
/autocompleteSearch
/Hex Code for Selected Colour
/Theme Changer
/Clipboard
/ Loan Calculator
/Budget app
/ Flash card information
/ Filter app
/Cart App
/ Bookmark App
/ Drum kit 
/ Video player
/ Music Player
/Info/ Memory Card Game
/Expense Tracker
/ Typing Game
/ Colour game
/Palindrome Checker Game
/Countdown App
/pdf