*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
 
}

.taskDescription{
    border: 3px solid yellow;
    width: 50%;
    margin: 0 auto;
}

 h1{
    text-align: center;
    margin: 3em 0;
    color: #e66465;
}



form{
    width: 35.5%;
   
    margin: 0 auto;
    background-image: linear-gradient( 137deg, #e66465, #9198e5);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.1em;
    border-radius: 1em;
}

form label{
    font-size: 1.8em;
    font-weight: 800;
}

input{
    width: 54%;
    padding: 10px;
    font-size: 1em;
    margin: 1em;
    border-radius: 7px;
    border: none;
}

button{
    padding: 0.8em 1em;
    border-radius: 6px;
    border: none;
    background-color: rgb(121, 198, 229);
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    display: block;
    margin: 0 auto;
    margin-top: 11px;
}

#email{
   border: 1px solid red;
   margin: 1em 2.79em;
   width: 55%;
}

span{
    color: red;
    display: block;
    text-align: center;
}